@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: "Barlow Condensed";
    background: black;
}